body {
    font-size:1.5em;
    width:90%;
    margin-left:5%;
    margin-top:3%;
}


/*
       le modèle colonne permet l'affichage sur 3 colonnes
       chaque colonne mesure 100px.
       cette dimension reste fixe
       */
.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:50px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 20px;
    background-color: #fff;
    color: #444;
}

.boite {
    background-color: rgb(221, 127, 127);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}

.day1{
    @include day();
    background-color:lightyellow;
}

.day2{
    @include day();
    background-color:lightskyblue;
}

.day3 {
    @include day();
    background-color:lightblue;
}

.day4{
    @include day();
    background-color:lightcoral;
}

.day5{
    @include day();
    background-color:lightseagreen;
}

/*
définir l'étendue de chaque classe
*/

.pauseCommune {
   background-color:lightgreen;
}

.pasDeCours {
   background-color:lightskyblue;
}

.cours {
   background-color:lightsalmon;
}


.a {
    grid-column: 1;
    grid-row: 2/7;
}

.b {
    grid-column: 1;
    grid-row: 7 / 12;
}

.c {
    grid-column: 2;
    grid-row: 2/6;
}


.d {
    grid-column: 2;
    grid-row: 6/8;
}

.e {
    grid-column:2;
    grid-row:8/12;
}
.g{
   grid-column:3;
   grid-row:5/6;
}
.f{
    grid-column:3;
    grid-row:2/5;
}



.h{
    grid-column:3;
    grid-row:6/7;
}
.j{
   grid-column:3;
   grid-row:10/12;
}
.i {
    grid-column:3;
    grid-row:7/10;
}

.k {
   grid-column:4;
   grid-row:2/6;
}

.l{
   grid-column:4;
   grid-row:6/8;
}

.m {
   grid-column:4;
   grid-row:8/12;
}

.n {
   grid-column:5;
   grid-row:2/7;
}

.o {
   grid-column:5;
   grid-row:7/10;
}

.p {
   grid-column:5;
   grid-row:10/12;
}


@media screen and (max-width:600px) {

    body{
        font-size:1.2em;
        width:90%;
        margin-left:0%;
    }
    .boite {
        font-size:13px;
        font-weight:bold;
    }

    .conteneur {
        grid-gap:10px;
    }
    .day1{
        @include day();
        background-color:lightyellow;
        padding-top:15%;
    }
    
    .day2{
        @include day();
        background-color:lightskyblue;
        padding-top:9%;
    }
    
    .day3 {
        @include day();
        background-color:lightblue;
        padding-top:15%;
    }
    
    .day4{
        @include day();
        background-color:lightcoral;
        padding-top:10%;
    }
    
    .day5{
        @include day();
        background-color:lightseagreen;
        padding-top:15%;
    }
}